@model string;
<head>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
</head>

<body class="theme-default">
    <div class="helpTab">@Html.Raw(Model)</div>

    <script>
        var currentTheme = '@ViewBag.Theme';

        // Set appropriate dark/contrast/default theme for the controls based on current theme
        if (currentTheme === "dark" || currentTheme === "contrast") {
            $(".theme-default").addClass("theme-dark-contrast").removeClass("theme-default");
        }
        else {
            $(".theme-dark-contrast").addClass("theme-default").removeClass("theme-dark-contrast");
        }
    </script>
</body>
<style>
    .helpTab {
        font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
        font-size: 14px;
    }

    .theme-dark-contrast {
        color: #fff;
    }

    .theme-default {
        color: #252423;
    }
</style>