@model Microsoft.Teams.Apps.FAQPlusPlus.Configuration.Models.EndpointKeyViewModel

@using (Ajax.BeginForm("ValidateAndSaveEndpointKeyAsync", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSaveSuccess", OnFailure = "onSaveFailure" }, htmlAttributes: new { @class = "formToSubmit" }))
{
    <div class="form-group" data-form-name="endpointKey">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.EndpointKey, htmlAttributes: new { @class = "font-bold" })
            <span class="mandatoryField">*</span>
        </div>
        <div class="col-lg-5">
            @Html.TextBoxFor(model => model.EndpointKey, htmlAttributes: new { @class = "form-control endpointKeyIdTextBox toggleTextBox", @placeholder = "Enter endpoint key." })
            @Html.ValidationMessageFor(model => model.EndpointKey, "", htmlAttributes: new { @class = "error-message" })
        </div>
        <div class="col-lg-1">
            <span id="endpointKeyStorageStatusIcon"></span>
        </div>
        <div class="col-lg-3">
            <input type="button" value="OK" class="btn btn-primary toggleToEditButton" id="endpointKeySubmitButton" />
            <span class="glyphicon glyphicon-info-sign infoSignMargin" data-toggle="tooltip" title="@Strings.EndpointKeyToolTipHoverMessage"></span>
        </div>
        <div class="col-lg-offset-3 col-lg-5">
            <div id="endpointKeyStorageStatusMessage" class="error-message"></div>
        </div>
    </div>
}