@{

    ViewBag.Title = "Configuration App";
}

<div class="row contentMargin">
    <div class="col-lg-12">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Home/_Team.cshtml")
        </div>
    </div>
    <div class="col-lg-12 marginBetweenView">
        <hr />
    </div>
    <div class="col-lg-12">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Home/_KnowledgeBase.cshtml")
        </div>
    </div>
    <div class="col-lg-12 marginBetweenView">
        <hr />
    </div>
    <div class="col-lg-12">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Home/_UpnList.cshtml")
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        //Display team Id if its saved if yes then perform edit action
         $.ajax({
                type: "GET",
                url: '@Url.Action("GetSavedTeamIdAsync")',
             success: function (result) {
                 if (result != "") {                //Display the default UI when no team Id results are available for display
                     $("#TeamIdTextBox").val(result);
                     performEditChanges("team");
                 }
                },
                error: function () {
                    alert("Unable to display team Id");
                }
            });
    });

    // Perform changes when Edit related UI has to be displayed for team
    function performEditChanges(section) {
        if (section === "team") {
            $("#teamSubmitButton").val("Edit");
            $("#TeamIdTextBox").attr("disabled", "disabled");
        }
    }

    // Display a green tick when team id save is success
    function onTeamSaveSuccess() {
        clearStatusIconAndMessage("team");
        $("#teamStorageStatusIcon").addClass("glyphicon glyphicon-ok");
        $("#teamStorageStatusIcon").addClass("storageStatusIcon-success");
        performEditChanges("team");
    }

    // Display a red cross with error text message for team
    function onTeamSaveFailure(errorText) {
        clearStatusIconAndMessage("team");
        $("#teamStorageStatusMessage").addClass("error-message alert alert-danger");
        $("#teamStorageStatusIcon").addClass("glyphicon glyphicon-remove");
        $("#teamStorageStatusIcon").addClass("storageStatusIcon-failure");
        $("#teamStorageStatusMessage").text(errorText.statusText);
    }

    // Clear icon and message
    function clearStatusIconAndMessage(section) {
        if (section === "team") {
            $("#teamStorageStatusIcon").removeAttr("class");
            $("#teamStorageStatusMessage").removeAttr("class");
        }
    }
</script>