@{

    ViewBag.Title = "Configuration App";
}

<div class="row contentMargin">
    <div class="col-lg-12">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Home/_Team.cshtml")
        </div>
    </div>
    <div class="col-lg-12 marginBetweenView">
        <hr />
    </div>
    <div class="col-lg-12">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Home/_KnowledgeBase.cshtml")
        </div>
    </div>
    <div class="col-lg-12 marginBetweenView">
        <hr />
    </div>
    <div class="col-lg-12">
        <div class="col-lg-8">
            @Html.Partial("~/Views/Home/_UpnList.cshtml")
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {

        //Get team Id if its saved and then enable edit button
         $.ajax({
                type: "GET",
                url: '@Url.Action("GetSavedTeamIdAsync")',
             success: function (result) {
                 if (result != "") {                //Display the default UI when no team Id results are available for display
                     $("#TeamId").val(result);
                     performEditChanges();
                 }
                },
                error: function () {
                    alert("Unable to display team Id");
                }
            });
    });

    // Perform changes when Edit related UI has to be displayed for team
    function performEditChanges() {
        $("#teamSubmitButton").val("Edit");
        $("#TeamId").attr("disabled", "disabled");
    }

    // Display a green tick with success text message for team
    function OnSuccess() {
        $("#teamStorageStatusIcon").removeAttr("class");
        $("#teamStorageStatusMessage").removeAttr("class");

        $("#teamStorageStatusMessage").addClass("success-message alert alert-success");
        $("#teamStorageStatusIcon").addClass("glyphicon glyphicon-ok");

        $("#teamStorageStatusIcon").addClass("storageStatusIcon-success");

        $("#teamStorageStatusMessage").text("Team Id is saved sucessfully");

        performEditChanges();
    }

    // Display a red cross with error text message for team
    function OnFailure(errorText) {
        $("#teamStorageStatusIcon").removeAttr("class");
        $("#teamStorageStatusMessage").removeAttr("class");

        $("#teamStorageStatusMessage").addClass("error-message alert alert-danger");
        $("#teamStorageStatusIcon").addClass("glyphicon glyphicon-remove");

        $("#teamStorageStatusIcon").addClass("storageStatusIcon-failure");

        $("#teamStorageStatusMessage").text(errorText.statusText);
    }
</script>